* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

button {
    margin-top: 20px;
}

.container {
    margin-top: 20px;
}

.card {
    padding: 10px;
}